anyio==4.6.0
async-lru==2.0.4
asyncio-atexit==1.0.1
certifi==2024.8.30
charset-normalizer==3.4.0
Deprecated==1.2.14
filelock==3.16.1
fsspec==2024.9.0
googleapis-common-protos==1.65.0
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
idna==3.10
importlib_metadata==8.4.0
Jinja2==3.1.4
MarkupSafe==3.0.1
mpmath==1.3.0
nest-asyncio==1.6.0
networkx==3.4rc0
nibabel==5.3.0
numpy==2.1.2
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-http==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-httpx==0.48b0
opentelemetry-instrumentation-requests==0.48b0
opentelemetry-instrumentation-threading==0.48b0
opentelemetry-instrumentation-urllib==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
packaging==24.1
pillow==10.4.0
protobuf==4.25.5
psutil==5.9.8
requests==2.32.3
setuptools==75.1.0
sniffio==1.3.1
sympy==1.13.1
synapseclient==4.6.0
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==1.26.20
wrapt==1.16.0
zipp==3.20.2
